.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drop-shadow{
  box-shadow: 0 4px 4px #c7c6c6;
}
.inner-shadow{
  box-shadow: 0 3px 1px 0 #A8B5DE inset;
}

.margin{
  position: relative;
  top: 80px;
  left: 35%;
}

.bgpattern{
  background: url('../src/asset/bgbookpt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.forgot-content{
  width: 50%;
  height: 70%;
  background-color:rgb(53, 86, 171, .3) ;
  border: 1px solid black;
}
